@charset "utf-8";
ul,li,p,span,em,i,div,img,h1,h2,h3,h4,a,.object,input,textarea,body{padding:0px;margin:0px;border:none;}
body{font:14px/1.5em "Microsoft YaHei", Arial, Helvetica, sans-serif;color:#000;overflow-x:hidden;background: #FFF;}
table{border-collapse:collapse;}
em,i{font-style:normal;}
a{color:#333;text-decoration:none;cursor:pointer;outline:none;-webkit-tap-highlight-color:rgba(255,0,0,0);}
a:hover{color:#ff7519;text-decoration:none;}
ul,li{list-style:none;}
.clear{clear:both;font-size:0;line-height:0;height:0;overflow:hidden;}
.clear:after{clear:both;display:block;font-size:0;line-height:0;height:0;visibility:hidden;content:".";}
.clearm:after{ clear:both; display:block; height:0px; visibility:hidden; content:".";}
.clearm{*zoom:1;}
input{outline:none;vertical-align:middle;}
textarea{resize:none;outline:none;overflow: hidden;}
input.submit,input.reset{ cursor:pointer;}
.text_overflow{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;display:block;}
p{line-height:25px;}
h1{font-size:42px;color:#333;line-height:1.5em;font-weight:normal;}
h2{font-size:42px;color:#333;line-height:1.5em;font-weight:normal;}
h3{font-size:18px;line-height:1.2em;color:#333;font-weight:normal;}
h4{font-size:14px;line-height:1.2em;font-weight:normal;}
#top{display:none;width:48px;height:48px;position:fixed;right:10px;bottom:20px;background:url(https://img.alicdn.com/tps/TB1087UPpXXXXXuaXXXXXXXXXXX-48-48.png) no-repeat center center;cursor:pointer;z-index:99;}
.w1200{width:1200px;margin:0 auto;}
.main-box{background-color: #fdf4ea;}
.chuang-header{width:100%;}
.chuang-nav-wrap{height:66px;background:#ff7519;}
.chuang-nav > ul{padding:0 25px;}
.chuang-nav > ul > li{float:left;margin-right:2px;position: relative;}
.chuang-nav > ul > li > a{padding:0 25px;height:66px;line-height:66px;display:block;font-size:18px;color:#fff;}
.chuang-nav > ul > li.active > a,.chuang-nav > ul > li > a:hover{color:#ff7519;background:#fff;}
.chuang-nav > ul > li.chuang-entry{float:right;padding-top:17px;}
.chuang-nav > ul > li.chuang-entry > a{height:32px;line-height:32px;background:#fff;color:#ff7519;-webkit-transition:all 0.6s ease-in-out;-moz-transition:all 0.6s ease-in-out;-o-transition:all 0.6s ease-in-out;-ms-transition:all 0.6s ease-in-out;transition:all 0.6s ease-in-out;}
.chuang-nav > ul > li.chuang-entry > a:hover{background:#f2f2f2;}
.chuang-flow-header{position:fixed;top:0;z-index:99;display:none;width: 1200px;left:50%;margin-left: -600px;}
.chuang-flow-header .chuang-nav-wrap{height:50px;-webkit-box-shadow:0 3px 5px rgba(0,0,0,.4);-moz-box-shadow:0 3px 5px rgba(0,0,0,.4);-o-box-shadow:0 3px 5px rgba(0,0,0,.4);-ms-box-shadow:0 3px 5px rgba(0,0,0,.4);box-shadow:0 3px 5px rgba(0,0,0,.4);position:relative;z-index:99;}
.chuang-flow-header .chuang-nav > ul > li > a{height:50px;line-height:50px;}
.chuang-flow-header .chuang-nav > ul > li.chuang-entry{padding-top:9px;}
.chuang-flow-header .chuang-nav > ul > li.chuang-entry > a{height:32px;line-height:32px;}
.chuang-banner{overflow:hidden;background:#f7a46c;height:500px;overflow:hidden;}
.chuang-nav > ul > li .huanan-son-nav{
    width: 100%;
    border: 1px solid #d2d2d2;
    background: #fff;
    position: absolute;
    left:0px;
    top: 66px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    z-index: 90;
    display: none;
}
.chuang-flow-header .chuang-nav > ul > li .huanan-son-nav{top:50px;}
.chuang-nav > ul > li .huanan-son-nav ul li a{display: block;line-height: 40px;color:#333;padding:0px 20px;}
.chuang-nav > ul > li .huanan-son-nav ul li a:hover{background-color: #fe7e26;color:#FFF;}
.chuang-nav > ul > li:hover .huanan-son-nav{display: block;}

/*.chuang-banner-left{float:left;width:882px;}*/
/**************************************
 *
 *内容列表
 *
 *************************************/
.content-list{width: 100%;height: 160px;margin-top:62px;background: url(https://img.alicdn.com/tps/TB1DNdbPFXXXXcGXFXXXXXXXXXX-1200-160.jpg)no-repeat top center;}
.content-list ul{text-align: center;font-size: 0;-webkit-text-size-adjust: none;}
.content-list ul li{width: 186px;height:160px;display:inline-block;*display: inline;*zoom:1;color:#FFF;margin-left: 41px;background: url(https://img.alicdn.com/tps/TB1z9drPFXXXXa8XpXXXXXXXXXX-184-152.png)no-repeat left 4px;}
.content-list ul li:first-child{margin-left: 0px;}
.content-list ul li strong{font-size: 22px;display: block;width: 64px;height: 64px;text-align: center;line-height: 64px;margin:0 auto;}
.content-list ul li a{display: block;color:#FFF;font-size: 14px;height: 58px;line-height: 58px;margin-top: 30px;font-weight: bold;font-size: 17px;cursor: default;}
 /**************************************
 *
 *外贸直通车优惠券
 *
 *************************************/
.panic-buying{width: 100%;height: 772px;background:url(https://img.alicdn.com/tps/TB1hsRkPFXXXXcLXpXXXXXXXXXX-1200-772.png)no-repeat bottom center;overflow: hidden;}
.panic-buying .content{width: 1014px;margin:368px auto 0px auto;position: relative;}
.panic-buying .num{padding-left: 34px;width: 406px;}
.panic-buying h2{font-size: 24px;color: #646465;font-weight: bold;padding: 20px 0px 20px 0px;line-height: 84px;}
.panic-buying h2 strong{color:#fe7e26;font-size: 80px;}
.panic-buying h3{font-size: 30px;font-weight: bold;color:#fe7e26;}
.panic-buying p{color:#333;font-size: 15px;}
.panic-buying p span{color:#fe7e26;}
.panic-buying p .s1{font-size: 24px;}
.panic-buying a{display: block;width: 170px;color:#fffee2;font-size: 80px;position: absolute;right:40px;top:52px;line-height: 80px;font-weight: bold;text-shadow:#444 3px 3px 3px;}
.panic-buying a:hover{text-shadow:#000 3px 3px 3px;}

/**************************************
 *
 *出口通优惠券领取
 *
 *************************************/
.export{padding:26px 0px 38px 0px;}
.export h2{font-size: 42px;color:#fe7e25;text-align: center;font-weight: bold;} 
.export .title-icon{display: block;width:182px;height: 16px;background: url(https://img.alicdn.com/tps/TB1qMlbPFXXXXXxXVXXXXXXXXXX-182-16.png)no-repeat top center;margin:10px auto 12px auto;}
.export .time{width: 627px;height: 61px;background: url(https://img.alicdn.com/tps/TB1alXiPFXXXXXYXFXXXXXXXXXX-627-61.png) no-repeat no-repeat top center;margin:0 auto 28px auto;text-align: center;}
.export .time p{font-size:20px;color:#FFF;line-height: 61px;}
.export .time p strong{font-size: 30px;}
.export .list{width: 1174px;height: 522px;margin:0 auto;background: url(https://img.alicdn.com/tps/TB14L4vPFXXXXcdXXXXXXXXXXXX-1174-522.png)no-repeat top center;}
.export .list ul li{float: left;width: 360px;margin-left: 47px;padding-top: 95px;}
.export .list ul li:first-child{margin-left: 0px;}
.export .list ul li .con{width: 318px;margin:0 auto;}
.export .list ul li .money{text-align: right;font-size: 34px;color:#FFF;}
.export .list ul li .money strong{font-size: 52px;font-weight: bold;}
.export .list ul li .places{width:100%;height: 40px;margin:40px 0px 48px 0px;background: url(https://img.alicdn.com/tps/TB1Rsk.PpXXXXc9XFXXXXXXXXXX-636-41.png)no-repeat 0px 0px;-webkit-animation:background 8s infinite linear;animation:background 8s infinite linear;}
.export .list ul li .places p{line-height: 40px;text-align: center;color:#FFF;font-size: 22px;}
.export .list ul li .places p strong{padding-left: 20px;}
.export .list ul li .text p{font-size: 18px;line-height:26px;padding-bottom: 12px;}
.export .list ul li.li1 .text p span{color:#fd7515;font-weight: bold;}
.export .list ul li.li2 .text p span{color:#369118;font-weight: bold;}
.export .list ul li.li3 .text p span{color:#fcb403;font-weight: bold;}
.export .list ul li.li1 .text p strong{color:#fd7515;font-size: 22px;}
.export .list ul li.li2 .text p strong{color:#369118;font-size: 22px;}
.export .list ul li.li3 .text p strong{color:#fcb403;font-size: 22px;}
.export .list ul li a{display: block;width:129px;height: 45px;background: url(https://img.alicdn.com/tps/TB1DuprPFXXXXaqXpXXXXXXXXXX-129-135.png)no-repeat 0px 0px;color:#FFF;text-align: center;line-height: 45px;font-size: 18px;float: right;}
.export .list ul li.li2 a{background-position: 0px -45px}
.export .list ul li.li3 a{background-position: 0px -90px}
.export .list ul li a:hover{-webkit-box-shadow: 2px 2px 6px #ec7200;box-shadow: 2px 2px 6px #ec7200;}
/**************************************
 *
 *信用保证
 *
 *************************************/
.credit-box{width: 100%;height:594px;position: relative;background: url(https://img.alicdn.com/tps/TB1R5Q1PpXXXXbbXVXXXXXXXXXX-1200-594.jpg)no-repeat top center;}
.credit-box h2{color:#FFF;font-size: 46px;font-weight: bold;text-align: center;padding: 98px 0px 76px 0px;}
.credit-box .text{width: 520px;padding-left: 581px;color:#FFF;}
.credit-box .text h3{color:#FFF;font-size: 28px;font-weight: bold;padding-bottom: 12px;}
.credit-box .text h3 strong{color:#f9b603;font-size: 34px;}
.credit-box .text p.p1{font-size: 24px;padding-bottom: 20px;}
.credit-box .text p.p1 strong{color:#f9b603;}
.credit-box .text p.p2{font-size: 18px;}
.credit-box .text p.p2 strong{color:#f9b603;font-size: 34px;}
.credit-box .text p.p3{font-size: 18px;padding-top: 10px;line-height: 26px;}
.credit-box .text a{display: block;background-color: #fd4e2c;border-radius:4px;-webkit-border-radius:4px;height: 60px;width: 160px;text-align: center;line-height: 60px;color:#FFF;font-size: 25px;margin-top: 20px;}
.credit-box>em{display: block;width:87px;height: 43px;background: url(https://img.alicdn.com/tps/TB1FtIUPpXXXXcOaXXXXXXXXXXX-87-43.png)no-repeat top center;position: absolute;bottom:-43px;left: 50%;margin-left: -44px;z-index:80;}
.credit-box .text a:hover{-webkit-box-shadow: 2px 2px 6px #333;box-shadow: 2px 2px 6px #333;}

/**************************************
 *
 *限时产品抢购专区
 *
 *************************************/
.limited{padding: 68px 0px 64px 0px;background-color: #fedfc8;position: relative;}
.limited h2{font-size: 42px;color:#fe7e25;text-align: center;font-weight: bold;} 
.limited .title-icon{display: block;width:182px;height: 16px;background: url(https://img.alicdn.com/tps/TB1qMlbPFXXXXXxXVXXXXXXXXXX-182-16.png)no-repeat top center;margin:10px auto 12px auto;}
.limited .time{width: 627px;height: 61px;background: url(https://img.alicdn.com/tps/TB1.bwQPpXXXXbTaXXXXXXXXXXX-627-61.png) no-repeat no-repeat top center;margin:0 auto 28px auto;text-align: center;}
.limited .time p{font-size:20px;color:#FFF;line-height: 61px;}
.limited .time p strong{font-size: 30px;}
.limited ul{width: 103%;}
.limited ul li{background-color: #cb284e;width: 232px;height: 272px;float: left;margin-right: 10px;text-align: center;color:#FFF;margin-bottom: 14px;}
.limited ul li h3{font-size: 30px;color:#FFF;font-weight: bold;padding:40px 0px 14px 0px;}
.limited>em.san{display: block;width:89px;height: 45px;background: url(https://img.alicdn.com/tps/TB1UxtoPFXXXXarXpXXXXXXXXXX-89-45.png)no-repeat top center;position: absolute;bottom:-45px;left: 50%;margin-left: -45px;}
.limited ul li p.p1{font-size: 18px;height:66px;}
.limited ul li p.p1 span{font-size: 15px;color:#fdc300;}
.limited ul li p.p1 strong{color:#fdc300;}
.limited ul li a{display: block;background-color: #feffe8;width: 166px;height: 40px;margin:20px auto 12px auto;line-height: 40px;color:#cb284e;font-size: 26px;font-weight: bold;}
.limited ul li a:hover{-webkit-box-shadow: 2px 2px 6px #333;box-shadow: 2px 2px 6px #333;}
.limited ul li p.p2{font-size:20px;}
.limited ul li p.p2 strong{font-size:32px;}

/**************************************
 *
 *生态产品促销方案包
 *
 *************************************/
.ecology{padding: 68px 0px 118px 0px;position: relative;}
.ecology h2{font-size: 42px;color:#fe7e25;text-align: center;font-weight: bold;} 
.ecology .title-icon{display: block;width:182px;height: 16px;background: url(https://img.alicdn.com/tps/TB1qMlbPFXXXXXxXVXXXXXXXXXX-182-16.png)no-repeat top center;margin:10px auto 12px auto;}
.ecology .list{border-top: 3px solid #fe7e26;margin-top: 76px;}
.ecology .list ul li{width: 200px;border:1px solid #fe7e26;float: left;position: relative;}
.ecology .list ul li .text1{height: 394px;text-align: center;}
.ecology .list ul li .text1 h3{font-size: 22px;color:#fe7e26;font-weight: bold;padding: 50px 0px 20px 0px;}
.ecology .list ul li .text1 .con{height: 235px;}
.ecology .list ul li .text1 p{font-size: 16px;padding-bottom: 22px;font-weight: bold;color:#555;}
.ecology .list ul li .text2{position: absolute;z-index:90;width: 396px;height: 537px;background: url(https://img.alicdn.com/tps/TB1uGttPFXXXXXyXpXXXXXXXXXX-396-537.jpg)no-repeat top center;border:2px solid #fe7e26;border-top:4px solid #fe7e26;border-bottom:1px solid #fe7e26;left:0px;top:-56px;display: none;}
.ecology .list ul li .text2 .con{width: 96%;margin:0 auto;}
.ecology .list ul li .text2 em{display: block;width: 94px;height: 73px;background: url(https://img.alicdn.com/tps/TB1fNwUPpXXXXbXaXXXXXXXXXXX-94-73.png)no-repeat top center;position: absolute;top:0px;right:24px;}
.ecology .list ul li .text2 h3{font-size: 22px;color:#fe7e26;padding:20px 0px 10px 0px;}
.ecology .list ul li .text2 p{color:#555;}
.ecology .list ul li .text2 p strong{color:#fe7e26;}
.ecology .list ul li .text2 p strong.big{font-size: 20px;}
.ecology .list ul li .text2 p span{text-decoration:line-through}
.ecology .list ul li .text2 a{display: block;width:102px;height: 34px;position: absolute;right:14px;bottom:14px;background-color: #fe7e26;text-align: center;line-height: 34px;color:#FFF;font-size: 16px;border-radius:4px;-webkit-border-radius:4px;}
.ecology .list ul li .text2 a:hover{border-color:#ec7200;-webkit-box-shadow: 2px 2px 6px #ec7200;box-shadow: 2px 2px 6px #ec7200;}
.ecology .list.lis2{margin-top: 214px;}
.ecology .list.lis2 ul li .text2 em{background: url(https://img.alicdn.com/tps/TB1uf8dPFXXXXcBXFXXXXXXXXXX-94-73.png)no-repeat top center;text-align: center;font-size:16px;color:#FFF;line-height: 48px;}
.ecology .list ul li.on{margin:0 188px 0 0;}
.ecology .list ul li.on .text2{display: block;-webkit-animation:bott 0.1s 1 linear;animation:bott 0.1s 1 linear;}

.fooetr{height:302px;background:url(https://img.alicdn.com/tps/TB1ZCjEOVXXXXa3XVXXXXXXXXXX-1200-302.jpg)no-repeat top center;position:relative;}
.fooetr ul{padding-top:117px;}
.fooetr ul li{width:20%;float:left;}
.fooetr ul li .con{padding:0px 20px 20px 54px;}
.fooetr ul li h3{font-size:17px;font-weight:400;}
.fooetr ul li i{display:block;width:34px;height:1px;background-color:#e97518;margin:18px 0px;}
.fooetr ul li h4 a{display:block;color:#666;font-size:14px;padding:4px 0px;font-weight:400;}
.fooetr ul li h4 a:hover{color:#e97518;}

@-webkit-keyframes bott{
    0%{transform:scale(0);}
    100% {transform:scale(1);}

}
@keyframes bott {
    0%{transform:scale(0);}
    100% {transform:scale(1);}
}
@-webkit-keyframes background{
    0%{background-position: 0px 0px;}
    100% {background-position: -318px 0px;}

}
@keyframes background {
    0%{background-position: 0px 0px;}
    100% {background-position: -318px 0px;}
}